{% macro selectOptions(config) %}
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-heading-s">
        {{ config.label }}
      </h1>
    </legend>
    {% for option in config.options %}
      {% if option == "Pyrotechnic articles" %}
      {% endif %}
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="{{loop.index}}" name="legislation" type="checkbox" value="{{option}}" {% if config.checked | includes(option) %}checked{% endif %}>
        <label class="govuk-label govuk-checkboxes__label" for="{{loop.index}}">
          {{ option }}
        </label>
      </div>
    {% endfor %}
  </fieldset>
</div>

{% endmacro %}

{% macro docResult(doc) %}
  <li class="body">
    <h3>
      <a href="body?id={{doc.id}}">
        {{ doc.body.name }}
      </a>
    </h3>
    <table class='govuk-body-xs'>
      <tbody>
        <td>
          <strong>Body type:</strong>  {{ doc.body.bodyType }}<br>
          <strong>UK approved body number:</strong>  {{ doc.body.number }}
        </td>
      </tbody>
    </table>
  </li>
{% endmacro %}