
{% extends "layout.html" %}
{% import "includes/macro.html" as object %}

{% block beforeContent %}
  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      }
    ]
  }) }}
{% endblock %}


{% block content %}
  {% set doc = data.docs | withId(data.id) %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{doc.body.name}}
      </h1>
      <p class='govuk-body-l'>
        Body number: {{doc.body.number}}
      </p>
      <dl class=''>
        <dt class="govuk-body-s">Last updated:</dt>
        <dd class="govuk-body-s">
          {{doc.body.lastUpdated}}
        </dd>
      </dl>
      <dl>
        <dt class="govuk-body-s">Authorised by:</dt>
        <dd class="govuk-body-s govuk-!-margin-bottom-9">
          {% for authoriser in doc.body.authorisedBy %}
            <a href='#'>{{authoriser}}</a>
          {% endfor %}
        </dd>
      </dl>

      <h3 class='govuk-heading-m'>
        Contact
      </h3>
      <ul class='govuk-list'>
        <li class='govuk-!-padding-bottom-2'>
          {{doc.body.contact.email}}
        </li>
        <li class='govuk-!-padding-bottom-2'>
          {{doc.body.contact.phoneNumber}}
        </li>
        {% set linebreak = joiner("<br />") %}
        <li class='govuk-!-padding-bottom-4'>
          {{ doc.body.contact.address | escape | nl2br }}
        </li>
      </ul>

    </div>
    <div class='govuk-grid-column-full'>
      <h2 class='govuk-heading-m govuk-!-margin-bottom-4'>
        Accreditations
      </h2>
      {% for acc in doc.accs %}
        <h2 class='govuk-heading-s'>
          {{acc.name}}
        </h2>
        <table class='govuk-body-s legislation'>
          <thead>
            <tr>
              <th>
                Procedures
              </th>
              <th>
                Products
              </th>
            </tr>
          </thead>
          <tbody>
            {% for row in acc.rows %}
              <tr>
                <td>
                  {% for procedure in row.procedures %}
                      {{procedure}}
                    {% endfor %}
                </td>
                <td>
                  <ul class='govuk-list-bullets'>
                    {% for product in row.products %}
                      <li>{{product}}</li>
                    {% endfor %}
                  </ul>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        {% endfor %}
    </div>
  </div>

{% endblock %}
