
{% extends "layout.html" %}
{% import "includes/macro.html" as object %}

{% block beforeContent %}
  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      }
    ]
  }) }}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        4ward Testing Limited
      </h1>
      <p class='govuk-body-l'>
        Body number: 0846
      </p>
      <dl class=''>
        <dt class="govuk-body-s">Last updated:</dt>
        <dd class="govuk-body-s">
          1 April 2019
        </dd>
      </dl>
      <dl>
        <dt class="govuk-body-s">Authorised by:</dt>
        <dd class="govuk-body-s govuk-!-margin-bottom-9">
          <a href=''>BESI</a>, <a href=''>MHCLG</a> and <a href=''>MHRA</a>
        </dd>
      </dl>

      <h3 class='govuk-heading-m'>
        Contact
      </h3>
      <ul class='govuk-list'>
        <li class='govuk-!-padding-bottom-2'>
          info@4wardtesting.co.uk
        </li>
        <li class='govuk-!-padding-bottom-2'>
          01798 342240
        </li>
        <li class='govuk-!-padding-bottom-4'>
          5 Hampers Common Industrial Estate<br> Petworth<br> West Sussex<br> GU28 9NR
        </li>
      </ul>

    </div>
    <div class='govuk-grid-column-full'>
      <h2 class='govuk-heading-m govuk-!-margin-bottom-4'>
        Accreditations
      </h2>
      <h2 class='govuk-heading-s'>
        Personal protective equipment
      </h2>
      <table class='govuk-body-s legislation'>
        <thead>
          <tr>
            <th>
              Procedures
            </th>
            <th>
              Products
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              System for ensuring EC quality of production by means of monitoring
            </td>
            <td>
              <ul class='govuk-list-bullets'>
                <li>Equipment providing eye protection</li>
                <li>Equipment providing face protection</li>
                <li>Equipment providing general body protection (clothing)</li>
                <li>Equipment providing hand and arm protection</li>
                <li>Equipment providing head protection</li>
                <li>Equipment providing hearing protection</li>
                <li>Equipment providing respiratory protection</li>
                <li>Protective equipment against drowning and buoyancy aids</li>
                <li>Protective equipment against falls from a height</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>

      <h2 class='govuk-heading-s'>
        Medical devices
      </h2>
      <table class='govuk-body-s legislation'>
        <thead>
          <tr>
            <th>
              Procedures
            </th>
            <th>
              Products
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              Declaration of conformity (full quality assurance system) and Declaration of conformity (production quality assurance)
            </td>
            <td>
              <ul class='govuk-list-bullets'>
                <li>General non-active, non-implantable medical devices</li>
                <li>Non-active devices for anaesthesia, emergency and intensive care</li>
                <li>Non-active devices for injection, infusion, transfusion and dialysis</li>
                <li>Non-active orthopaedic and rehabilitation devices</li>
                <li>Non-active medical devices with measuring function</li>
                <li>Non-active ophthalmologic devices</li>
                <li>Non-active instruments</li>
                <li>Contraceptive medical devices</li>
                <li>Non-active medical devices for disinfecting, cleaning, rinsing</li>
                <li>Non-active devices for in vitro fertilisation (IVF) and assisted reproductive technologies (ART)</li>
                <li>Non-active medical devices for ingestion</li>
                <li>Non-active cardiovascular implants</li>
                <li>Non-active orthopaedic implants</li>
                <li>Non-active functional implants</li>
                <li>Non-active soft tissue implants (excluding breast implants)</li>
                <li>Bandages and wound dressings</li>
                <li>Suture material and clamps</li>
                <li>Other medical devices for wound care</li>
                <li>Non-active dental equipment and instruments</li>
                <li>Dental materials</li>
                <li>Dental implants</li>
                <li>Devices for extra-corporal circulation, infusion and haemopheresis</li>
                <li>Respiratory devices, devices including hyperbaric chambers for oxygen therapy, inhalation anaesthesia</li>
                <li>Devices for stimulation or inhibition</li>
                <li>Active surgical devices</li>
                <li>Active ophthalmologic devices</li>
                <li>Active dental devices</li>
                <li>Active devices for disinfection and sterilisation</li>
                <li>Active rehabilitation devices and active prostheses</li>
                <li>Active devices for patient positioning and transport</li>
                <li>Active devices for in vitro fertilisation (IVF) and assisted reproductive therapy (ART)</li>
                <li>Software</li>
                <li>Medical gas supply systems and parts thereof</li>
                <li>Imaging devices utilising ionizing radiation</li>
                <li>Imaging devices utilising non-ionizing radiation</li>
                <li>Monitoring devices of non-vital physiological parameters</li>
                <li>Monitoring devices of vital physiological parameters</li>
                <li>Devices utilising ionizing radiation</li>
                <li>Devices utilising non-ionizing radiation</li>
                <li>Devices for hyperthermia / hypothermia</li>
                <li>Devices for (extracorporal) shock-wave therapy (lithotripsy)</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

{% endblock %}
