
{% extends "layout.html" %}
{% import "includes/macro.html" as object %}

{% block beforeContent %}
  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      }
    ]
  }) }}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Organisations that certify products and <span class='no-break'>medical devices</span>
      </h1>

      <dl>
        <dt class="govuk-body-s">From:</dt>
        <dd class="govuk-body-s">
            <a href="https://www.gov.uk/government/organisations/office-for-product-safety-and-standards">
              Office for Product Safety and Standards
            </a>
        </dd>
      </dl>

      <p class='govuk-body-m govuk-!-font-weight-bold govuk-!-margin-top-5'>
        <a href='#'>
          Subscribe to email alerts
        </a>
      </p>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

      {% from "input/macro.njk" import govukInput %}

      {{ govukInput({
        label: {
          text: "Search"
        },
        id: "search",
        name: "search"
      }) }}

      {% from "includes/macro.html" import selectOptions %}
        {{
            selectOptions({
                options: [
                  {
                    text: "Personal protective equipment",
                    value: "#"
                  },
                  {
                    text: "Active implantable medical devices",
                    value: "#"
                  },
                  {
                    text: "Hot-water boilers",
                    value: "#"
                  },
                  {
                    text: "Medical devices",
                    value: "#"
                  },
                  {
                    text: "Recreational craft",
                    value: "#"
                  },
                  {
                    text: "In vitro diagnostic medical devices",
                    value: "#"
                  },
                  {
                    text: "Noise emission in the environment by equipment for use outdoors",
                    value: "#"
                  },
                  {
                    text: "Machinery",
                    value: "#"
                  },
                  {
                    text: "Interoperability of the rail system within the Community (Recast)",
                    value: "#"
                  },
                  {
                    text: "Safety of toys",
                    value: "#"
                  },
                  {
                    text: "Transportable pressure equipment",
                    value: "#"
                  },
                  {
                    text: "Construction products",
                    value: "#"
                  },
                  {
                    text: "Pyrotechnic articles",
                    value: "#"
                  },
                  {
                    text: "Recreational craft and personal watercraft",
                    value: "#"
                  },
                  {
                    text: "Explosives for civil uses",
                    value: "#"
                  },
                  {
                    text: "Simple pressure vessels",
                    value: "#"
                  },
                  {
                    text: "Electromagnetic compatibility",
                    value: "#"
                  },
                  {
                    text: "Non-automatic weighing instruments",
                    value: "#"
                  },
                  {
                    text: "Measuring Instruments Directive",
                    value: "#"
                  },
                  {
                    text: "Lifts and safety components for lifts",
                    value: "#"
                  },
                  {
                    text: "Equipment and protective systems intended for use in potentially explosive atmospheres (recast)",
                    value: "#"
                  },
                  {
                    text: "Radio equipment",
                    value: "#"
                  },
                  {
                    text: "Pressure equipment",
                    value: "#"
                  },
                  {
                    text: "Marine equipment",
                    value: "#"
                  },
                  {
                    text: "Interoperability of the European Air Traffic Management network",
                    value: "#"
                  },
                  {
                    text: "Interoperability of Electronic Road Toll Systems",
                    value: "#"
                  },
                  {
                    text: "Appliances burning gaseous fuels",
                    value: "#"
                  },
                  {
                    text: "Personal protective equipment",
                    value: "#"
                  },
                  {
                    text: "Cableway installations",
                    value: "#"
                  }
                ],
                name: "single-or-multi-component"
            })
        }}

    </div>
    <div class="govuk-grid-column-two-third">
      <ul class='bodies'>
        {% from "includes/macro.html" import docResult %}
        {% for doc in data.docs %} 
          {{ docResult(doc) }}
        {% endfor %}
      </ul>
    </div>
  </div>

{% endblock %}
