
{% extends "layout.html" %}
{% import "includes/macro.html" as object %}

{% block beforeContent %}
  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      }
    ]
  }) }}
{% endblock %}


{% block content %}

  {{data.legislation | dump}}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Organisations that certify products and <span class='no-break'>medical devices</span>
      </h1>

      <dl>
        <dt class="govuk-body-s">From:</dt>
        <dd class="govuk-body-s">
            <a href="https://www.gov.uk/government/organisations/office-for-product-safety-and-standards">
              Office for Product Safety and Standards
            </a>
        </dd>
      </dl>

      <p class='govuk-body-m govuk-!-font-weight-bold govuk-!-margin-top-5'>
        <a href='#'>
          Subscribe to email alerts
        </a>
      </p>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

      {% from "input/macro.njk" import govukInput %}
      <form id="search" method="get" role="search">
        {{ govukInput({
          label: {
            text: "Search"
          },
          id: "search",
          name: "search",
          value: data.search
        }) }}

      {% from "includes/macro.html" import selectOptions %}
      {{
        selectOptions({
          label: "Legislation",
          name: "legislation",
          checked: (data.legislation | normaliseMultiQueryParam),
          options: [
            "Personal protective equipment",
            "Active implantable medical devices",
            "Hot-water boilers",
            "Medical devices",
            "Recreational craft",
            "In vitro diagnostic medical devices",
            "Noise emission in the environment by equipment for use outdoors",
            "Machinery",
            "Interoperability of the rail system within the Community (Recast)",
            "Safety of toys",
            "Transportable pressure equipment",
            "Construction products",
            "Pyrotechnic articles",
            "Recreational craft and personal watercraft",
            "Explosives for civil uses",
            "Simple pressure vessels",
            "Electromagnetic compatibility",
            "Non-automatic weighing instruments",
            "Measuring Instruments Directive",
            "Lifts and safety components for lifts",
            "Equipment and protective systems intended for use in potentially explosive atmospheres (recast)",
            "Radio equipment",
            "Pressure equipment",
            "Marine equipment",
            "Interoperability of the European Air Traffic Management network",
            "Interoperability of Electronic Road Toll Systems",
            "Appliances burning gaseous fuels",
            "Cableway installations"
          ]
        })
      }}
    </form>
    <script type="text/javascript">
      var form = document.querySelector('form#search')
      document.querySelectorAll('input[name="legislation"]').forEach(function(element) {
        element.addEventListener('input', function() { form.submit() })
      })
    </script>

    </div>
    <div class="govuk-grid-column-two-third">
      <ul class='bodies'>
        {% set searchResults = data.docs | searchAndFilter(data.search, (data.legislation | normaliseMultiQueryParam)) %}
        {% from "includes/macro.html" import docResult %}
        {% for doc in searchResults %} 
          {{ docResult(doc) }}
        {% endfor %}
      </ul>
    </div>
  </div>

{% endblock %}
