
{% extends "layout.html" %}
{% import "includes/macro.html" as object %}

{% block beforeContent %}
  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      }
    ]
  }) }}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Organisations that certify products and <span class='no-break'>medical devices</span>
      </h1>

      <dl>
        <dt class="govuk-body-s">From:</dt>
        <dd class="govuk-body-s">
            <a href="https://www.gov.uk/government/organisations/office-for-product-safety-and-standards">
              Office for Product Safety and Standards
            </a>
        </dd>
      </dl>

      <p class='govuk-body-m govuk-!-font-weight-bold govuk-!-margin-top-5'>
        <a href='#'>
          Subscribe to email alerts
        </a>
      </p>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

      {% from "input/macro.njk" import govukInput %}

      {{ govukInput({
        label: {
          text: "Search"
        },
        id: "search",
        name: "search"
      }) }}

      {% from "includes/macro.html" import selectOptions %}
        {{
            selectOptions({
                options: [
                  {
                    text: "Personal protective equipment",
                    value: "#"
                  },
                  {
                    text: "Active implantable medical devices",
                    value: "#"
                  },
                  {
                    text: "Hot-water boilers",
                    value: "#"
                  },
                  {
                    text: "Medical devices",
                    value: "#"
                  },
                  {
                    text: "Recreational craft",
                    value: "#"
                  },
                  {
                    text: "In vitro diagnostic medical devices",
                    value: "#"
                  },
                  {
                    text: "Noise emission in the environment by equipment for use outdoors",
                    value: "#"
                  },
                  {
                    text: "Machinery",
                    value: "#"
                  },
                  {
                    text: "Interoperability of the rail system within the Community (Recast)",
                    value: "#"
                  },
                  {
                    text: "Safety of toys",
                    value: "#"
                  },
                  {
                    text: "Transportable pressure equipment",
                    value: "#"
                  },
                  {
                    text: "Construction products",
                    value: "#"
                  },
                  {
                    text: "Pyrotechnic articles",
                    value: "#"
                  },
                  {
                    text: "Recreational craft and personal watercraft",
                    value: "#"
                  },
                  {
                    text: "Explosives for civil uses",
                    value: "#"
                  },
                  {
                    text: "Simple pressure vessels",
                    value: "#"
                  },
                  {
                    text: "Electromagnetic compatibility",
                    value: "#"
                  },
                  {
                    text: "Non-automatic weighing instruments",
                    value: "#"
                  },
                  {
                    text: "Measuring Instruments Directive",
                    value: "#"
                  },
                  {
                    text: "Lifts and safety components for lifts",
                    value: "#"
                  },
                  {
                    text: "Equipment and protective systems intended for use in potentially explosive atmospheres (recast)",
                    value: "#"
                  },
                  {
                    text: "Radio equipment",
                    value: "#"
                  },
                  {
                    text: "Pressure equipment",
                    value: "#"
                  },
                  {
                    text: "Marine equipment",
                    value: "#"
                  },
                  {
                    text: "Interoperability of the European Air Traffic Management network",
                    value: "#"
                  },
                  {
                    text: "Interoperability of Electronic Road Toll Systems",
                    value: "#"
                  },
                  {
                    text: "Appliances burning gaseous fuels",
                    value: "#"
                  },
                  {
                    text: "Personal protective equipment",
                    value: "#"
                  },
                  {
                    text: "Cableway installations",
                    value: "#"
                  }
                ],
                name: "single-or-multi-component"
            })
        }}

    </div>
    <div class="govuk-grid-column-two-third">
      <ul class='bodies'>
        {% from "includes/macro.html" import bodies %}
        {{ bodies ('body', '4ward Testing Limited', '0846') }}
        {{ bodies ('body', 'ABS Europe Limited', '0858') }}
        {{ bodies ('body', 'AEGIS Certification Services Limited', '0870') }}
        {{ bodies ('body', 'Altran UK Limited', '0879') }}
        {{ bodies ('body', 'AMTRI Ceritas Limited', '0888') }}
        {{ bodies ('body', 'Arrowhead Industrial Services Limited', '0889') }}
        {{ bodies ('body', 'Atlas Mastergas Limited', '0890') }}
        {{ bodies ('body', 'AV Technology Limited', '0891') }}
        {{ bodies ('body', 'Blue Anchor Fire & Safety', '0922') }}
        {{ bodies ('body', 'BOC Limited', '0964') }}
        {{ bodies ('body', 'BRE Global Limited', '1067') }}
        {{ bodies ('body', 'BRE Global Limited Incorporating Bre Testing', '1088') }}
        {{ bodies ('body', 'British Approvals Service for Cables (BASEC)', '1104') }}
        {{ bodies ('body', 'British Board Of Agrément', '1105') }}
        {{ bodies ('body', 'British Board Of Agrement (bba)', '1121') }}
        {{ bodies ('body', 'British Engineering Services Limited', '1125') }}
        {{ bodies ('body', 'British Inspecting Engineers Limited', '1133') }}
        {{ bodies ('body', 'British Institute Of Non-destructive Testing', '1145') }}
        {{ bodies ('body', 'BSI', '1146') }}
        {{ bodies ('body', 'BSRIA Limited', '1157') }}
        {{ bodies ('body', 'Build Check Limited', '1180') }}
        {{ bodies ('body', 'Building Investigation and Testing Services (Surrey) Limited', '1224') }}
        {{ bodies ('body', 'Bureau Veritas Consumer Products Services UK Limited', '1244') }}
        {{ bodies ('body', 'Bureau Veritas UK Limited', '1245') }}
        {{ bodies ('body', 'Bury Metropolitan Borough Council', '1266') }}
        {{ bodies ('body', 'Calibso Limited (trading as Bluesky Certification)', '1288') }}
        {{ bodies ('body', 'Calor Gas Limited', '1289') }}
        {{ bodies ('body', 'Calor Gas Northern Ireland Limited', '1291') }}
        {{ bodies ('body', 'Cambridge Fire Research Limited', '1314') }}
        {{ bodies ('body', 'CCQS UK Limited', '1333') }}
        {{ bodies ('body', 'CEM International Limited', '1334') }}
        {{ bodies ('body', 'Central Cylinder Testing', '1520') }}
        {{ bodies ('body', 'Centre for Assessment Limited', '1521') }}
        {{ bodies ('body', 'Certification and Timber grading Limited', '1580') }}
        {{ bodies ('body', 'Certification Management Limited', '1674') }}
        {{ bodies ('body', 'Certified Conformity Limited', '1675') }}
        {{ bodies ('body', 'Cheshire West and Chester County Council', '1679') }}
        {{ bodies ('body', 'Code-a-weld Inspection Limited', '1719') }}
        {{ bodies ('body', 'Cranage EMC Testing Limited', '1720') }}
        {{ bodies ('body', 'Cumbria County CouncilLimited', '1725') }}
        {{ bodies ('body', 'Cylinder Testing and Sales (UK) Limited', '1763') }}
        {{ bodies ('body', 'Defence Electronics & Components Agency', '1766') }}
        {{ bodies ('body', 'Department for the Economy', '1806') }}
        {{ bodies ('body', 'Department of Health & Consumer Services', '1845') }}
        {{ bodies ('body', 'Derbyshire County Council', '1846') }}
        {{ bodies ('body', 'DNV GL UK Limited', '1855') }}
        {{ bodies ('body', 'Dominion Technology Gases Limited', '1942') }}
        {{ bodies ('body', 'Dow Corning Limited', '1978') }}
        {{ bodies ('body', 'DTG Testing Limited', '1992') }}
        {{ bodies ('body', 'EETSA Limited (East of England Trading Standards Association)', '2019') }}
        {{ bodies ('body', 'Element Materials Technology Warwick Limited', '2056') }}
        {{ bodies ('body', 'Energas Limited', '2141') }}
        {{ bodies ('body', 'Eurofins Product Testing Services Limited', '2192') }}
        {{ bodies ('body', 'European Quality Assurance', '2205') }}
        {{ bodies ('body', 'Ex Veritas Limited', '2206') }}
        {{ bodies ('body', 'Exova (UK) Limited', '2207') }}
        {{ bodies ('body', 'Exova (UK) Limited Trading As Bm Trada', '2222') }}
        {{ bodies ('body', 'Exova (UK) Limited trading as BM TRADA', '2229') }}
        {{ bodies ('body', 'Exova (UK) Limited trading as Exova Warringtonfire', '2230') }}
        {{ bodies ('body', 'Exova (UK) Limited trading as Warrington Certification', '2234') }}
        {{ bodies ('body', 'Exova Warringtonfire', '2258') }}
        {{ bodies ('body', 'Flameskill Limited', '2263') }}
        {{ bodies ('body', 'Fleetwood Test House, Blackpool and the Fylde College', '2273') }}
        {{ bodies ('body', 'Flogas Britain Limited', '2314') }}
        {{ bodies ('body', 'FM Approvals Limited', '2334') }}
        {{ bodies ('body', 'Gammax Independent Inspection Services Limited', '2337') }}
        {{ bodies ('body', 'Gas Cylinders UK Limited', '2377') }}
        {{ bodies ('body', 'gateshead Metropolitan Borough Council', '2381') }}
        {{ bodies ('body', 'GL Industrial Services UK Limited', '2389') }}
        {{ bodies ('body', 'Global Group of Companies Limited', '2400') }}
        {{ bodies ('body', 'Halcrow Rail Approvals Limited', '2441') }}
        {{ bodies ('body', 'Hampshire Trading Standards Service (HCC)', '2444') }}
        {{ bodies ('body', 'Hartford Steam Boiler UK Limited', '2446') }}
        {{ bodies ('body', 'Health And Safety Executive', '2448') }}
        {{ bodies ('body', 'Horiba MIRA Limited', '2491') }}
        {{ bodies ('body', 'HPi Verification Services Limited', '2495') }}
        {{ bodies ('body', 'Hursley EMC Services Limited', '2503') }}
        {{ bodies ('body', 'IFC Certification Limited', '2524') }}
        {{ bodies ('body', 'IFC Certification Limited', '2538') }}
        {{ bodies ('body', 'Impact Laboratories Limited trading as Impact Solutions', '2551') }}
        {{ bodies ('body', 'Incon - A Department Of Inspection Consultants', '2560') }}
        {{ bodies ('body', 'Inspec International Limited', '2561') }}
        {{ bodies ('body', 'Inspection & Certification Limited', '2571') }}
        {{ bodies ('body', 'Interscience Communications Limited', '2583') }}
        {{ bodies ('body', 'Intertek Testing & Certification Limited', '2585') }}
        {{ bodies ('body', 'ISOQAR Limited', '2599') }}
        {{ bodies ('body', 'ITS Testing Services (UK) Limited', '2635') }}
        {{ bodies ('body', 'J and R Gases Limited', '2636') }}
        {{ bodies ('body', 'Kent County Council', '2642') }}
        {{ bodies ('body', 'Kiwa Limited T/a Kiwa Gastec', '2661') }}
        {{ bodies ('body', 'Laidler Certification', '2673') }}
        {{ bodies ('body', 'Lancashire County Council', '2700') }}
        {{ bodies ('body', 'Leicestershire County Council', '2710') }}
        {{ bodies ('body', 'LIFT CERT Limited', '2721') }}
        {{ bodies ('body', 'Lloyd’s Register Apave Limited', '2731') }}
        {{ bodies ('body', 'Lloyd’s Register Quality Assurance Limited (0088)', '2740') }}
        {{ bodies ('body', 'Lloyd’s Register Verification Limited', '2747') }}
        {{ bodies ('body', 'London Borough Of Havering: North East London Metrology Partnership', '2773') }}
        {{ bodies ('body', 'Lucideon CICS Limited', '2783') }}
      </ul>
    </div>
  </div>

{% endblock %}
